*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    transition: all .5s;
}

body{
    height: 100%;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#e3e3e3;
    
}

.container{
    margin-left: 15%;
    margin-top: 30%;
    font-size: 4rem;
}

.moonSugar {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.moonSugar-item {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    width: 14px;
    height: 14px;
    background: url(img/1.png) center center/14px 14px no-repeat;
}

.moonSugar-item[data-type="0"] {
    background-image: url(img/1.png);
}
.moonSugar-item[data-type="1"] {
    background-image: url(img/2.png);
}
.moonSugar-item[data-type="2"] {
    background-image: url(img/3.png);
}
.moonSugar-item[data-type="3"] {
    background-image: url(img/4.png);
}

@media screen and (max-width: 1300px) {
    .container{
        font-size: 3rem;
    }
}

@media screen and (max-width: 980px) {
    .container{
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .container{
        font-size: 1rem;
    }
}